Source: ros-jazzy-tsid
Section: misc
Priority: optional
Maintainer: Guilhem Saurel <guilhem.saurel@laas.fr>
Build-Depends: debhelper (>= 9.0.0), cmake, doxygen, git, graphviz, libboost-all-dev, ros-jazzy-eigenpy, ros-jazzy-eiquadprog, ros-jazzy-pinocchio, ros-jazzy-ros-workspace
Homepage: https://github.com/stack-of-tasks/tsid
Standards-Version: 3.9.2

Package: ros-jazzy-tsid
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, graphviz, libboost-all-dev, ros-jazzy-ament-cmake, ros-jazzy-eigenpy, ros-jazzy-eiquadprog, ros-jazzy-pinocchio, ros-jazzy-ros-workspace
Description: Efficient Task Space Inverse Dynamics (TSID) based on Pinocchio
