Source: ros-humble-tsid
Section: misc
Priority: optional
Maintainer: Guilhem Saurel <guilhem.saurel@laas.fr>
Build-Depends: debhelper (>= 9.0.0), cmake, doxygen, git, graphviz, libboost-all-dev, ros-humble-eigenpy, ros-humble-eiquadprog, ros-humble-pinocchio, ros-humble-ros-workspace
Homepage: https://github.com/stack-of-tasks/tsid
Standards-Version: 3.9.2

Package: ros-humble-tsid
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, graphviz, libboost-all-dev, ros-humble-ament-cmake, ros-humble-eigenpy, ros-humble-eiquadprog, ros-humble-pinocchio, ros-humble-ros-workspace
Description: Efficient Task Space Inverse Dynamics (TSID) based on Pinocchio
